head {
    font-size:35pt;
}

body {
    background:lightblue;
    font-size:15pt;
    font-family: 'Open Sans Condensed', sans-serif;
    color: navy;
nav a {
    display:inline-block;
    boarder: 2px solid black;
}


}

a {
    color: darkred
}